
* {
  font-family: JetBrainsMono NerdFont, SourceHanSansJP;
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: #d8dee9;
}

window#waybar > box {
    margin: 0px 0px 5px 0px;
    background-color: #2e3440;
    box-shadow: 1 1 3 1px #151515;
}

#workspaces button {
  padding: 0 0.6em;
  color: #d8dee9;
  border-radius: 6px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.active {
  color: #d8dee9;
  background: #434c5e;
}

#workspaces button.focused {
  color: #d8dee9;
  background: #434c5e;
}

#workspaces button.urgent {
  color: #bf616a;
  background: #d8dee9;
}

#workspaces button:hover {
  background: #2e3440;
  color: #d8dee9;
}

#date,
#battery,
#clock,
#pulseaudio,
#workspaces,
#window,
#language,
#temperature,
#text,

#tray {
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#tray {
  margin-right: 6px;
}

#pulseaudio {
  margin-right: 6px;
  color: #d8dee9;
}

#clock {
  color: #d8dee9;
  margin-right: 6px;
}

#battery {
  color: #d8dee9;
  margin-right: 6px;
}

#window {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  background: radial-gradient(circle, #5e81ac, #3b4252)
}

#language {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#temperature {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#custom-launcher {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

